   <div class="row mb-5">
          <div class="col-10 mt-5">
            <h1 class="sub-heading def_text_color">Reset Your Password</h1>
            <p class="paragraph-text light_text_color">Please provide a new password.</p>
          </div>
          <form class="login mb-4" [formGroup]="_reset_password_form.form" (ngSubmit)="onResetPasswordFormSubmit()">
            <div class="mt-3">
				
              <input type="password" class="input" placeholder="New Password" formControlName="password">
              <div *ngIf="_reset_password_form.password_error">
                <p class="error paragraph-text">{{_reset_password_form.password_error}}</p>
              </div>
            </div>
            <div class="mt-3">
				
              <input type="password" class="input" placeholder="Confirm New Password" formControlName="new_password">
              <div *ngIf="_reset_password_form.new_password_error">
                <p class="error paragraph-text">{{_reset_password_form.new_password_error}}</p>
              </div>
            </div>
            <p *ngIf="errors" class="text-danger t">{{errors}}</p>
            <button class="mt-3 w-100  btn button_submit" [disabled]="_reset_password_form.form.invalid">
              <span class="button__text">CONTINUE</span>
              <i class="button__icon fas fa-chevron-right"></i>
            </button>
          </form>
        </div>