<div class="section m-0 p-0">
    <div class="container  p-3">
        <div class="row">
            <h1 class="fs-4">MAKE A RESERVATION</h1>
        </div>
        <div class="row mt-3 main-border">
            <form>
                <div class="row mb-3">

                    <div class="col-3">
                        <label>Date</label>
                        <input type="date" class="form-control custom-border-2" name="date">
                    </div>

                    <div class="col-8 ms-5">
                        <label>Sport</label>
                        <div>
                            <button type="button" class=" px-5 btn custom-border-2">Cricket</button>
                            <button type="button" class="btn px-5 custom-border-2">Futsal</button>
                            <button type="button" class="btn px-5 custom-border-2">Other</button>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-md-8">
                        <div class="row mb-3">
                            <label>Net</label>
                            <div class="net-buttons">
                                <button type="button" class="px-5 btn custom-border-2">Net 1</button>
                                <button type="button" class="px-5 btn custom-border-2">Net 2</button>
                            </div>
                        </div>

                        <div class="row">
                            <div class="row mb-2">
                                <label>Time</label>
                            </div>
                            <div class="row mb-3">
                                <div class="col-md-4">
                                    <button type="button" class="custom-border btn">09:00 pm - 10:00
                                        pm<br>Available</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="custom-border btn">09:00 pm - 10:00
                                        pm<br>Available</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="custom-border btn">09:00 pm - 10:00
                                        pm<br>Available</button>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <button type="button" class="custom-border btn">09:00 pm - 10:00
                                        pm<br>Available</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="custom-border btn">09:00 pm - 10:00
                                        pm<br>Available</button>
                                </div>
                                <div class="col-md-4">
                                    <button type="button" class="custom-border btn">09:00 pm - 10:00
                                        pm<br>Available</button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-4 m-0 p-0">
                        <div class="mb-4">
                            <label>Customer Information</label>
                        </div>
                        <div>
                            <input type="text" class="custom-border-3 form-control mb-4" placeholder="First Name*" required>
                            <input type="text" class="custom-border-3 form-control mb-4" placeholder="Mobile No*" required>
                            <input type="email" class="custom-border-3 form-control" placeholder="Email" required>
                        </div>
                    </div>
                </div>

                <div class="row mt-4 mb-3">
                    <div class="col-3 mx-auto">
                        <button type="submit" class="custom-btn btn">Make A Reservation</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
