<div style="font-family: 'Poppins', sans-serif;" class="container mt-3">
    <h3>PENDING APPLICATIONS</h3>

    <div class="row main-border search-bar mb-4">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <div class="col-md-3">
            <input type="date" class="form-control">
        </div>
    </div>

    <div class="row main-border">
        <div class="row mb-2  justify-content-end">
            <div class="col-auto p-0">
                <div class="row">
                    <div class="col">
                        <select style="background-color: #59B1F0; height: 30px;" name="perpge" formControlName="perpge"
                            class="border rounded-1 p-1 ">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="col">Per Page</div>
                </div>
            </div>
        </div>

        <div class="row mx-auto">
            <div class="row table-row table-header p-2">
                <div class="col">ID</div>
                <div class="col">Complex Name</div>
                <div class="col">Location</div>
                <div class="col">Date of registration</div>
                <div class="col">Contact No</div>
                <div class="col"></div>
            </div>

            <div class="row table-row table-row py-2">
                <div class="col">#4342443</div>
                <div class="col">Uni Sport</div>
                <div class="col">Nugegoda</div>
                <div class="col">09/09/2024</div>
                <div class="col">0767665456</div>
                <div class="col"><a href="#" class="ms-2">View</a></div>
            </div>
            <div class="row table-row table-row py-2">
                <div class="col">#4342443</div>
                <div class="col">Uni Sport</div>
                <div class="col">Nugegoda</div>
                <div class="col">09/09/2024</div>
                <div class="col">0767665456</div>
                <div class="col"><a href="#" class="ms-2">View</a></div>
            </div>

            <div class="row table-row table-row py-2">
                <div class="col">#4342443</div>
                <div class="col">Uni Sport</div>
                <div class="col">Nugegoda</div>
                <div class="col">09/09/2024</div>
                <div class="col">0767665456</div>
                <div class="col"><a href="#" class="ms-2">View</a></div>
            </div>

            <div class="row table-row table-row py-2">
                <div class="col">#4342443</div>
                <div class="col">Uni Sport</div>
                <div class="col">Nugegoda</div>
                <div class="col">09/09/2024</div>
                <div class="col">0767665456</div>
                <div class="col"><a href="#" class="ms-2">View</a></div>
            </div>

            <nav aria-label="Page navigation" class="mt-4">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled"><a class="page-link" href="#">«</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
            </nav>
        </div>

    </div>
</div>