<div class="container  p-3">
    <div class="row">
        <h2 class="fs-4 mb-4">RESERVATIONS</h2>
    </div>

    <div class="row main-border-2   mb-4">
        <div class="col-md-3">
            <input type="text" class="form-control" placeholder="Booking No">
        </div>
        <div class="col-md-3">
            <select class="form-select">
                <!-- Booking Status -->
                <option>Upcoming</option>
                <option>Ongoing</option>
                <option>Finished</option>
            </select>
        </div>
        <div class="col-md-3">
            <input type="date" class="form-control">
        </div>
        <div class="col-md-3">
            <input type="time" class="form-control">
        </div>
    </div>

    <div class="row main-border">
        <div class="row mb-2 align-items-center justify-content-end">
            <div class="col-auto">
                <div class="d-flex">
                    <select style="background-color: #59B1F0;" name="perpge" formControlName="perpge"
                        class="form-select select-per-page">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                    <span class="per-page-text">Per Page</span>
                </div>
            </div>
        </div>


            <div class="row mx-auto reservation-header">
                <div class="col">Booking No</div>
                <div class="col">Booking Date</div>
                <div class="col">Time Slots</div>
                <div class="col">Booking Type</div>
                <div class="col">Customer Name</div>
                <div class="col">Customer Mobile</div>
                <div class="col">Booking Status</div>
            </div>

            <div class="row mx-auto border-bottom reservation-row">
                <div class="col">#43424434344</div>
                <div class="col">09/10/2024</div>
                <div class="col">09:00 pm - 10:00 pm</div>
                <div class="col">Online</div>
                <div class="col">Piyumi Perera</div>
                <div class="col">0767665456</div>
                <div class="col badge-status badge-upcoming">Upcoming</div>
            </div>

            <div class="row mx-auto border-bottom reservation-row">
                <div class="col">#43424434344</div>
                <div class="col">09/10/2024</div>
                <div class="col">09:00 pm - 10:00 pm</div>
                <div class="col">Online</div>
                <div class="col">Piyumi Perera</div>
                <div class="col">0767665456</div>
                <div class="col badge-status badge-upcoming">Upcoming</div>
            </div>

            <div class="row mx-auto border-bottom reservation-row">
                <div class="col">#43424434344</div>
                <div class="col">09/10/2024</div>
                <div class="col">09:00 pm - 10:00 pm</div>
                <div class="col">Online</div>
                <div class="col">Piyumi Perera</div>
                <div class="col">0767665456</div>
                <div class="col badge-status badge-ongoing">Ongoing</div>
            </div>

            <div class="row mx-auto border-bottom reservation-row">
                <div class="col">#43424434344</div>
                <div class="col">09/10/2024</div>
                <div class="col">09:00 pm - 10:00 pm</div>
                <div class="col">Online</div>
                <div class="col">Piyumi Perera</div>
                <div class="col">0767665456</div>
                <div class="col badge-status badge-finished">Finished</div>
            </div>

            <div class="row mx-auto border-bottom reservation-row">
                <div class="col">#43424434344</div>
                <div class="col">09/10/2024</div>
                <div class="col">09:00 pm - 10:00 pm</div>
                <div class="col">Online</div>
                <div class="col">Piyumi Perera</div>
                <div class="col">0767665456</div>
                <div class="col badge-status badge-upcoming">Upcoming</div>
            </div>

            <div class="row mx-auto border-bottom reservation-row">
                <div class="col">#43424434344</div>
                <div class="col">09/10/2024</div>
                <div class="col">09:00 pm - 10:00 pm</div>
                <div class="col">Online</div>
                <div class="col">Piyumi Perera</div>
                <div class="col">0767665456</div>
                <div class="col badge-status badge-finished">Finished</div>
            </div>


        <nav aria-label="Page navigation" class="mt-4">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled"><a class="page-link" href="#">«</a></li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">»</a></li>
            </ul>
        </nav>
    </div>


</div>
