@font-face {
  font-family: barlow_medium;
  src: url(../../../../../assets/fonts/Barlow-Medium.ttf) format("truetype");
}

.warning_bg{
  background-color: #FFF5D3;
  border-radius: 10px
  ;
}
.yellow-color{
  color: #ffb600 !important;
}
.headline-7 {
  font-size: 19px;
  font-family: barlow_medium;
  line-height: 19px;
  font-style: normal;
  letter-spacing: 1px;
  font-weight: 500;
}
.caption {
  font-size: 12px;
  font-family: barlow_medium;
  line-height: 18px;
  font-style: normal;
  letter-spacing: 0.4px;
  font-weight: 400;
}
.gray-color {
  color: #acacac !important;
}
.regular {
  font-weight: 500 !important;
}
.btn-success_1{
  background-color: #64ac43 !important;
  border: #64ac43;
  color: white;
}
.btn-success_2{
  background-color: #B20000 !important;
  border: #B20000;
  color: white !important;
}
.btn-gray_1 {
  

  border: 1px solid #838383 !important;
  color: #838383 !important;
  
}