<div style="font-family: 'Poppins', sans-serif;" class="container mt-4">
    <div class="row">
        <div class="col-12 col-md-6">
            <div class="header-text">PARTNER</div>
        </div>
    </div>
    <div class="active-switch">
        <label class="form-label d-flex align-items-center">
            <span class="day-label">Active</span>
            <div class="form-switch">
                <input class="form-check-input" type="checkbox">
            </div>
        </label>
    </div>

    <div class="row main-border">
        <div class="col-12 col-md-6 mt-2">
            <div class="mx-auto">
                <h5 class="fw-bold mb-4">Complex Name</h5>
                <div class="row mb-2">
                    <div class="col-5 col-md-4 fw-bold">Mobile No :</div>
                    <div class="col-7 col-md-8">0766010861</div>
                </div>
                <div class="row mb-2">
                    <div class="col-5 col-md-4 fw-bold">Email :</div>
                    <div class="col-7 col-md-8">unisportgmail.com</div>
                </div>
                <div class="row mb-2">
                    <div class="col-5 col-md-4 fw-bold">Address :</div>
                    <div class="col-7 col-md-8">12/2, ddhedhdewlk fdfwf.</div>
                </div>
                <div class="mb-3">
                    <span class="fw-bold">Image Of Business Registration</span>
                </div>
                <div class=" border bg-darked d-flex justify-content-center align-items-center"
                    style="background-color: #D9D9D9; width: 100px;">
                    <span class="text-muted">Placeholder for Business Registration</span>
                </div>
            </div>

            <div class="row mt-4">
                <div class="col-12 label ">
                    <h5 class="fw-bold">Nets</h5>
                </div>

                <div class="container">
                    <div class="row net-header p-2">
                        <div class="col-6">
                            <strong>Name</strong>
                        </div>
                        <div class="col-6">
                            <strong>Sports</strong>
                        </div>
                    </div>

                    <div class="row p-1 table-bg border-bottom sports-section">
                        <div class="col-4 label">
                            <strong>Net 1</strong>
                        </div>
                        <div class="col-8 sports-buttons">
                            <button class="button-bg">Cricket</button>
                            <button class="button-bg">Futsal</button>
                            <button class="button-bg">Other</button>
                        </div>
                    </div>

                    <div class="row mb-3 p-1 table-bg border-bottom">
                        <div class="col-4 label">
                            <strong>Net 2</strong>
                        </div>
                        <div class="col-8 sports-buttons">
                            <button class="button-bg">Cricket</button>
                            <button class="button-bg">Futsal</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="container mt-4">
                <h5 class="fw-bold">Booking Settings</h5>
                <div class="mt-3">
                    <div class="row mb-2">
                        <div class="col-6 fw-semibold">Time Slot Duration :</div>
                        <div class="col-6">60 m</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6 fw-semibold">Fees for Time Slot :</div>
                        <div class="col-6">1000 LKR</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-6 fw-semibold">Advance Booking Available Time :</div>
                        <div class="col-6">7 Days</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 col-md-6 mt-4">
            <div class="grid-box gray-box"></div>

            <div class="mt-4">
                <h5 class="fw-bold">Bank Details</h5>
                <div class="mt-3">
                    <div class="row mb-2">
                        <div class="col-5 col-md-4 fw-semibold">Bank Account No:</div>
                        <div class="col-7 col-md-8">076601086434341</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5 col-md-4 fw-semibold">Account Holder Name:</div>
                        <div class="col-7 col-md-8">unisportgmail.com</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5 col-md-4 fw-semibold">Bank Name:</div>
                        <div class="col-7 col-md-8">12/2, ddhedhdewlk fdfwf.</div>
                    </div>
                    <div class="row mb-2">
                        <div class="col-5 col-md-4 fw-semibold">Branch Name:</div>
                        <div class="col-7 col-md-8">12/2, ddhedhdewlk fdfwf.</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>