.image{
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.card{
  min-height: 10vh;
}
.status{
  border-radius: 10px;
  color: white;
}
.live{
background: #B72525;
}
.draft{
  background: #F5812C;
  }