.badge {
    padding: 5px 10px;
    border-radius: 20px;
}
  
button i {
    font-size: 1.2rem;
}
  
.bg-primary {
    background-color: #007bff;
}
  
.bg-light {
    background-color: #f8f9fa;
}
  
.text-dark {
    color: #343a40;
}
  
.text-primary {
    color: #007bff;
}
  
.text-danger {
    color: #dc3545;
}
  
.p-2 {
    padding: 10px;
}
  
.me-2 {
    margin-right: 20px !important; 
}
.net-header {
    background-color: #59B1F0;
    color: white;
    padding: 8px;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.btn-custom{
    background-color: #09439A;
    color: white;
}