<section>
  <div class="d-flex mt-5" style="justify-content: space-between;align-content: end;">
    <div class="col">
      <h2 class="def_text_color sub-heading"><b>{{title}}</b></h2>
      <p class="light_text_color px15_text">{{subtitle}}</p>
    </div>
  </div>
  <div class="content p-4 py-5">
    <form class="example-form row" [formGroup]="_events_form.form">
      
      <mat-form-field appearance="outline">
        <mat-label>Headline</mat-label>
        <input matInput placeholder="Enter your Headline" formControlName="title">
      </mat-form-field>
      <p class="text-danger" *ngIf="errors.title">{{errors['title']}}</p>
<div class="col-6 mt-4">
  <mat-form-field appearance="outline" class="w-100 ">
    <mat-label>Pick date(s)</mat-label>
    <input matInput placeholder="Select Date(s) " [matDatepicker]="picker" formControlName="date">
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <p class="text-danger" *ngIf="errors.date">{{errors['date']}}</p>
</div>
    
<div class="col-6 mt-4">
  <mat-form-field appearance="outline" class=" w-100">
    <mat-label>Location</mat-label>
    <input matInput placeholder="Red cross Building, Colombo 07, Sri Lanka" formControlName="location"
      [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
      <mat-option [value]="option">{{option}}iuh</mat-option>
      }
    </mat-autocomplete>
    
  </mat-form-field>
  <p class="text-danger" *ngIf="errors.location">{{errors['location']}}</p>
</div>
      


      <editor class="mt-4" apiKey="81bepl9se2znlbln9eir69w2rboaf6aqd8s7ruto0swlvc3g" formControlName="description"
        [init]="{
        height: 900,
        selector: 'textarea.tinymceclass',
        plugins: '  advlist  anchor  autolink autoresize autosave  charmap  code codesample directionality  emoticons   fullscreen help image importcss  insertdatetime link linkchecker lists media nonbreaking pagebreak  preview quickbars save searchreplace table template  tinydrive   visualblocks visualchars wordcount',
        toolbar: 'undo redo | blocks | styleselect | bold italic | alignleft aligncenter alignright alignjustify | outdent indent | numlist bullist | newdocument'
                              }">
      </editor>
      <p class="text-danger" *ngIf="errors.description">{{errors['description']}}</p>
    </form>

    <label class="w-100">
      <input (change)="onImageInputChange($event)" type="file" accept=".png, .jpg, .jpeg .webp" class="d-none" />
      
      <div class="drop-container p-4 mt-4" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)"
        (drop)="onDrop($event)">
        <img src="assets/images/cloud-upload-outlined.png" alt="" srcset="">
        <p class="paragraph-text light_text_color mb-2">Drag & Drop Images Here</p>
        <p class="paragraph-text light_text_color mb-2">Maximum file size 1MB</p>
        <p class="paragraph-text light_text_color mb-2">Supports : PNG, JPG, jPEG & WEBP</p>
      </div>
    </label>
    <p class="text-danger" *ngIf="errors.image_names">{{errors['image_names']}}</p>
    <div class="row" *ngIf="imageUrls">
      <ng-container *ngFor="let img of imageUrls">

        <div class="col-1 p-0 image_preview">
          <img [src]="img.temp_url" alt="{{img.filename}}" class="w-100" />
          <button class="btn" (click)="removeIcon(img.filename)"><mat-icon>close</mat-icon></button>
        </div>


      </ng-container>

    </div>

    <div class="row my-4" style="justify-content: center;">
      <button class="btn line_button col-2 px-0 col-1 mx-1" (click)="saveEvents(2)">Save as a draft</button>
      <button class="btn parent_active col-2 px-1 col-1 mx-1" (click)="saveEvents(1)">Publish to Live</button>
    </div>
  </div>


</section>