<div class="container">
    <h3>PARTNERS</h3>

    <div class="search-bar">
      <div class="row">
        <div class="col-md-3">
          <input type="text" class="form-control" placeholder="Search partners...">
        </div>
        <div class="col-md-3">
          <select class="form-select">
            <option>All Status</option>
            <option value="Active">Active</option>
            <option value="Deactivated">Deactivated</option>
          </select>
        </div>
        <div class="col-md-3">
          <input type="date" class="form-control" placeholder="Registration Date">
        </div>
      </div>
    </div>

    <div class="main-border">
        <div class="row mb-2 align-items-center justify-content-end">
            <div class="col-auto">
                <div class="d-flex">
                    <select name="perpge" formControlName="perpge" class="select-per-page">
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                    </select>
                    <span class="per-page-text">Per Page</span>
                </div>
            </div>
        </div>

        <div class="table-container">
            <div class="row table-row table-header p-1">
                <div class="col">ID</div>
                <div class="col">Complex Name</div>
                <div class="col">Location</div>
                <div class="col">Date of registration</div>
                <div class="col">Contact No</div>
                <div class="col">Status</div>
                <div class="col">Slip</div>
            </div>

            <div class="row table-row">
                <div class="col">#4342443</div>
                <div class="col">Uni Sport</div>
                <div class="col">Nugegoda</div>
                <div class="col">09/09/2024</div>
                <div class="col">0767665456</div>
                <div class="col"><span class="active">Active</span></div>
                <div class="col"><a href="#" class="ms-2">View</a></div>
            </div>
            
            <div class="row table-row">
                <div class="col">#4342443</div>
                <div class="col">Uni Sport</div>
                <div class="col">Nugegoda</div>
                <div class="col">09/09/2024</div>
                <div class="col">0767665456</div>
                <div class="col"><span class="active">Active</span></div>
                <div class="col"><a href="#" class="ms-2">View</a></div>
            </div>

            <div class="row table-row">
                <div class="col">#4342443</div>
                <div class="col">Uni Sport</div>
                <div class="col">Nugegoda</div>
                <div class="col">09/09/2024</div>
                <div class="col">0767665456</div>
                <div class="col"><span class="deactivated">Deactivated</span></div>
                <div class="col"><a href="#" class="ms-2">View</a></div>
            </div>

            <div class="row table-row">
                <div class="col">#4342443</div>
                <div class="col">Uni Sport</div>
                <div class="col">Nugegoda</div>
                <div class="col">09/09/2024</div>
                <div class="col">0767665456</div>
                <div class="col"><span class="active">Active</span></div>
                <div class="col"><a href="#" class="ms-2">View</a></div>
            </div>

            <nav aria-label="Page navigation" class="mt-4">
                <ul class="pagination justify-content-center">
                    <li class="page-item disabled"><a class="page-link" href="#">«</a></li>
                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                    <li class="page-item"><a class="page-link" href="#">»</a></li>
                </ul>
            </nav>
        </div>
    </div>
</div>