.payment-header {
    background-color: #59B1F0;
    border-color: #59B1F0;
    color: white;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;

}
.payment-row {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}
.details-btn {
    border: 1px solid #0d6efd;
    padding: 5px 15px;
    border-radius: 20px;
    color: #0d6efd;
    background-color: white;
}
.details-btn:hover {
    background-color: #0d6efd;
    color: white;
}
.pagination-container {
    justify-content: center;
    margin-top: 20px;
}
.main-border{
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.25);

}
.pagination .page-item.active .page-link {
    background-color: #59B1F0;
    border-color: #59B1F0;
}

.pagination .page-link {
    border-radius: 15%;
    padding: 8px 16px;
    margin: 0 5px;
}

.pagination .page-item.disabled .page-link {
    color: #6c757d;
}
