<div class="col-10 mt-5">
  <h1 class="sub-heading def_text_color">Let’s get started</h1>
  <p class="paragraph-text light_text_color">We will send you a reset password OTP to your Mobile Number.</p>
</div>
<form class="login mb-4" [formGroup]="_request_password_change_form.form" (ngSubmit)="onRequestPasswordFormSubmit()" >
  <div class="mt-3">
    
    <input type="tel" class="input" placeholder=" Mobile No" formControlName="username">
    <div *ngIf="_request_password_change_form.username_error">
      <p class="error  paragraph-text">{{_request_password_change_form.username_error}}</p>
    </div>
  </div>
 
  <button class="mt-3 w-100  btn button_submit" [disabled]="_request_password_change_form.form.invalid">
    <span class="button__text">CONTINUE</span>
  </button>				
</form>