
  <div class="d-flex top_bar p-2" >
    <div class="col-6 mr-0">LOGO</div>
    <div class="d-md-block d-lg-none justify-content-end">


      <mat-icon aria-hidden="false" aria-label="Example menu icon" fontIcon=" {{drawer.opened?'menu':'close'}}" (click)="drawer.toggle()"></mat-icon>
    </div>
  </div>



<mat-drawer-container class="example-container">

  <mat-drawer #drawer class="side" mode="side" [opened]="sideNavOpen">
    <div class="px-3">
      <div class="d-flex w-100 mt-4 ">
        <img src="assets/images/logo.webp" alt="" class="col-6 m-auto" srcset="">

      </div>
      <div class=" px-2">

        <app-nav-parent></app-nav-parent>
      </div>
    </div>
  </mat-drawer>
  <mat-drawer-content style="background-color: white;">

    <section class="row w-100 mt-4 px-5" >
      <router-outlet ></router-outlet>
    </section>

  </mat-drawer-content>
</mat-drawer-container>
