@import '../../../../variable.scss';
.side{
  width: 75vw;
}
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .side{
    width: 50vw;
  }
 }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .side{
    width: 50vw;
  }
  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .side{
    width: 20vw;
  }
  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .side{
    width: 15vw;
  }
  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {
  .side{
    width: 15vw;
  }
  }
  .top-nav{
    height: 8dvh;
    width: 100vw;
    background-color: $primary;
  }
.top_bar{
  background-color: $primary;
  justify-content: space-between;

  color: white;
  width: 100vw;
}
